.contactMe__container {
  /* background-color: var(--nav-color);/ */
  /* color: rgb(0, 0, 0); */
  padding: 1rem;
  
  
 
}

.contactMe__data__links {
  /* margin-top: 8px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
 .contactMe__data__links>p{
  transition: all 1s linear;
  padding:0px 5px;
  transform: scaleZ(10);
  box-shadow: 10px 15px 32px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 15px 32px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 15px 32px 2px rgba(0,0,0,0.75);
  /* cursor: pointer;  */
}


.contactMe__data__links>p:hover{
  /* border: 1px solid red; */
  background-color:rgb(16, 78, 70);
  border-radius: 40%;
  
}

.contactMe__data__links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
}

.contactMe__data__links a:hover {
  color: var(--light-color);
  
}

@media only screen and (max-width: 600px){

  .contactMe__data__links>{
    justify-content: flex-start;
  }

  /* .contactMe__data__links>p {
    margin: 5px 2px;
  } */

  .contactMe__data__links>p:hover{
    /* border: 1px solid red; */
    background-color:rgb(16, 78, 70);
    border-radius: 40%;
    
  }

}

@media only screen and (max-width: 360px){

  .contactMe__data__links>p {
    margin: 5px 2px;
  }

}